<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Poc ANY>
<!ATTLIST Poc id ID #REQUIRED>

]>
<root id="-1">
  <Poc id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-08-24T21:46:44" updateDate="2015-08-24T21:51:35" nodeName="POC" urlName="poc" path="-1,1052" isDoc="" nodeType="1051" creatorName="Jacob Polden" writerName="Jacob Polden" writerID="0" template="1050" nodeTypeAlias="Poc" />
</root>