.key {
	height: 20px;
	width: 20px;
	-ms-opacity: 0.35;
	opacity: 0.35;
	display: inline-block;
}

.key-background {
	height: 20px;
	width: 20px;
	display: inline-block;
	border-width: 4px;
	border-style: solid; 
}
